<style>
  .center-header {
    text-align: center;
    padding: 10px;
  }
  .center-text {
    text-align: center;
  }
</style>

<div class="flex flex-row">
  <table class="width-100% text-md text-left text-black dark:text-white border-2 pt-4 border-collapse rounded-md border-spacing-5 shadow-md">
    <thead class="px-4 text-md text-black uppercase bg-red-400 dark:bg-gray-700 dark:text-gray-400">
      <tr class="p-5">
        <th class="py-2 center-header">Race</th>
        <th class="py-2 center-header">Pick for 10th</th>
        <th class="py-2 center-header">Finish Position</th>
        <th class="py-2 center-header">Pick for First DNF</th>
        <th class="py-2 center-header">First DNF?</th>
        <th class="py-2 center-header">Points Earned</th>
      </tr>
    </thead>
    <tbody>
      <% @user.user_picks.purify_pick_names %>
      <% @user_picks.each do |user_pick| %>
        <tr class="font-med <%= @position.even? ? 'bg-red-200 dark:bg-gray-600' : '' %>" >
          <td class="py-2 center-text"><%= user_pick.race_name %></td>
          <td class="py-2 center-text"><%= user_pick.driver_id %></td>
          <td class="py-2 center-text"><%= user_pick.tenth_finish_position %></td>
          <td class="py-2 center-text"><%= user_pick.dnf_name %></td>
          <% if user_pick.dnf_finish_position == "" %>
            <td class="py-2 center-text">False</td>
          <% else %>
            <td class="py-2 center-text">True</td>
          <% end %>
          <td class="py-2 center-text"><%= user_pick.points_earned %></td>
          <% @position += 1 %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
