<div id="next_race" class="box"> <!-- This opens the next box -->
  <% if @next_race. != 'This season is over. Please select a different season.' %>
    <h2 class="font-bold">Next Race: <%= @next_race[:raceName] %></h2>
    <br>
    <h3>Circuit: <%= @next_race[:Circuit][:circuitName]%> </h3>
    <br>
    <h3>Dates:</h3>
    <% if !@next_race[:time] %>
      <h4>Race: <%= @next_race[:date].to_date.strftime('%B %d')%></h4>
    <% else %>
      <h4>Race: <%= @next_race[:date].to_date.strftime('%B %d') %>: <%= @next_race[:time].to_time.in_time_zone('Mountain Time (US & Canada)').strftime('%I:%M %p') %> </h4>
    <% end %>
    <br>
    <% if !@next_race[:time] %>
      <%= 'No times are scheduled yet' %>
    <% else %>
      <% if @next_race[:ThirdPractice] %>
        <p>Free Practice 1: <%=  @next_race[:FirstPractice][:date].to_date.strftime('%B %d')%>:  <%= @next_race[:FirstPractice][:time].to_time.in_time_zone('Mountain Time (US & Canada)').strftime('%I:%M %p') %></p>
        <p>Free Practice 2: <%=  @next_race[:SecondPractice][:date].to_date.strftime('%B %d')%>: <%= @next_race[:SecondPractice][:time].to_time.in_time_zone('Mountain Time (US & Canada)').strftime('%I:%M %p') %></p>
        <p>Free Practice 3: <%=  @next_race[:ThirdPractice][:date].to_date.strftime('%B %d')%>: <%= @next_race[:ThirdPractice][:time].to_time.in_time_zone('Mountain Time (US & Canada)').strftime('%I:%M %p') %></p>
        <p>Qualifying: <%=  @next_race[:Qualifying][:date].to_date.strftime('%B %d')%>: <%= @next_race[:Qualifying][:time].to_time.in_time_zone('Mountain Time (US & Canada)').strftime('%I:%M %p') %></p>
      <% else %>
        <p>Free Practice 1: <%=  @next_race[:FirstPractice][:date].to_date.strftime('%B %d') %>: <%= @next_race[:FirstPractice][:time].to_time.in_time_zone('Mountain Time (US & Canada)').strftime('%I:%M %p') %></p>
        <p>Race Qualifying: <%=  @next_race[:Qualifying][:date].to_date.strftime('%B %d') %>: <%= @next_race[:Qualifying][:time].to_time.in_time_zone('Mountain Time (US & Canada)').strftime('%I:%M %p') %></p>
        <p>Sprint Shootout: <%=  @next_race[:SecondPractice][:date].to_date.strftime('%B %d') %>: <%= @next_race[:SecondPractice][:time].to_time.in_time_zone('Mountain Time (US & Canada)').strftime('%I:%M %p') %></p>
        <p>Sprint: <%=  @next_race[:Sprint][:date].to_date.strftime('%B %d') %>: <%= @next_race[:Sprint][:time].to_time.in_time_zone('Mountain Time (US & Canada)').strftime('%I:%M %p') %></p>
      <% end %>
    <% end %>
  <% else  %>
    <h2> No Next Race Weekend: This season has been completed</h2>
  <% end %>
</div> <!-- This ends the next box -->