<%= stylesheet_link_tag 'seasons_index', media: 'all', 'data-turbolinks-track': 'reload' %>

<p id="notice"><%= notice %></p>
<main>
  <div class="page-wrapper">
    <div class-"form-wrapper">
      <div class="seasons-page">
        <h1 class="title">Seasons</h1>
        <div class="season-table-wrapper">
          <table>
            <thead>
              <tr>
                <th>Season</th>
                <th colspan="3"></th>
              </tr>
            </thead>

            <tbody>
              <% @seasons.each do |season| %>
                <tr>
                  <td><%= season.season_year %></td>
                  <td><%= link_to 'Show', season %></td>
                  <td><%= link_to 'Edit', edit_season_path(season) %></td>
                  <td><%= link_to 'Destroy', season, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <%= link_to 'New Season', new_season_path, class: "button" %>
      </div>
    </div>
  </div>
<main>
