<% cache("cached_view_key", expires_in: 15.minutes) do %>
  <p id="notice"><%= notice %></p>
  <%= stylesheet_link_tag 'seasons', media: 'all', 'data-turbolinks-track': 'reload' %>

  <style>
    .center-header {
      text-align: center;
      padding: 10px;
    }
    .center-text {
      text-align: center;
    }
    .rounded-box {
    border: 2px solid #FF1801;
      border-radius: 10px;
      padding: 10px;
    }
  </style>
<main>
  <div class="page-wrapper">
    <div class="text-wrapper">
      <h2 id="page_title" class="seasons-title">Season at a Glance</h2>
      <p id="season_year" class="season-year">
        Season Year:
        <%= @season.season_year %>
      </p>
    </div>
    <div id="all_users" class="user-wrapper"> <!-- This starts the user column -->
        <%# form_tag "/users/#{@user.id}", class: "dropdown", method: :get do%>
          <%# label_tag :user_id, "Users:" %>
          <%# select_tag :user_id, options_from_collection_for_select(@users, :id, :name), prompt: "Select a user" %>
          <%# hidden_field_tag :user_id, @user.id %>
          <%# submit_tag "Go", class: "go-button" %>
        <%# end %>

        <% @users.each do |user| %>
          <%= button_to user_path(user), method: :get, class: "name-button" do %>
          <%= user.name %> <!-- Display the user's name as the button label -->
        <% end %>
    <% end %>
        <%= link_to 'New User', new_user_path, class: "new-user-button" %>
    </div> <!-- This ends the user-wrapper -->
    <div class="seasons-page"> <!-- This starts the row -->
      <div class="seasons-wrapper">
      <!-- <div class="div-4 flex">
        <div class="flex-shrink-0 mr-4">
          <div class="font-bold text-blue-700 hover:underline hover:text-red-700">
            <%= link_to 'Edit', edit_season_path(@season) %>
          </div>
        </div>
        <div>
          <div class="font-bold text-blue-700 hover:underline hover:text-red-700">
            <%= link_to 'Back', seasons_path %>
          </div>
        </div>
      </div> -->

      <div id="driver_table" class="driver-table-wrapper">
        <h2 class="pt-3 pb-3 text-xl font-bold">Driver Standings:</h2>
        <div class="driver-table"> <!-- This starts the driver's standings table -->
        <!-- <div class="font-bold text-2xl pt-2">
            <p>Standings:</p>
          </div> -->

          <table>
          <thead>
            <tr>
              <th class="py-2 center-header">Position</th>
              <th class="py-2 center-header">Points</th>
              <th class="py-2 center-header">Driver Name</th>
              <th class="py-2 center-header">Constructor</th>
            </tr>
          </thead>
          <tbody>
            <% @driver_standings.each do |driver| %>
              <tr>
                <th class="py-2 center-text"><%= driver.position %></td>
                <td class="py-2 center-text"><%= driver.points %></td>
                <td class="py-2 center-text"><%= driver.driver_name %></td>
                <td class="py-2 center-text"><%= driver.constructor %></td>
                <% @drivers_position += 1 %>
              </tr>
            <% end %>
          </tbody>
          </table>
        </div> 
      </div> <!-- This ends the driver's standings table -->
        <br><br>

        <div id="constructor_table"class="constructor-table-wrapper">
          <h2 class="pt-3 pb-3 text-xl font-bold">Constructor Standings:</h2>
          <div class="constructor-table"> <!-- This starts the constructors standings table -->
            <table class="">
            <thead class="">
              <tr class="">
                <th class="py-2 center-header">Position</th>
                <th class="py-2 center-header">Constructor</th>
                <th class="py-2 center-header">Wins</th>
                <th class="py-2 center-header">Points</th>
              </tr>
            </thead>
            <tbody>
              <% @constructor_standings.each do |constructor| %>
                <tr class="font-med <%= @constructors_position.even? ? 'bg-red-200 dark:bg-gray-600' : '' %>">
                  <th class="py-2 center-text"><%= constructor.position %></td>
                  <td class="py-2 center-text"><%= constructor.constructor_name %></td>
                  <td class="py-2 center-text"><%= constructor.wins %></td>
                  <td class="py-2 center-text"><%= constructor.points %></td>
                  <% @constructors_position += 1 %>
                </tr>
              <% end %>
            </tbody>
            </table>
          </div> 
        </div><!-- This ends the constructor standings -->
      </div> <!-- This ends the column -->

      <div class="schedule-wrapper"> <!-- This starts the next and previous race weekend section -->
        <br>
        <div id="next_race" class="box"> <!-- This opens the next box -->
          <% if @next_race %>
            <h2 class="font-bold">Next Race: <%= @next_race[:raceName] %></h2>
            <br>
            <h3>Circuit: <%= @next_race[:Circuit][:circuitName]%> </h3>
            <br>
            <h3>Dates:</h3>
            <h4>Race: <%= @next_race[:date].to_date.strftime('%B %d') %>: <%= @next_race[:time].to_time.in_time_zone('Mountain Time (US & Canada)').strftime('%I:%M %p') %> </h4>
            <br>
            <% if @next_race[:ThirdPractice] %>
              <p>Free Practice 1: <%=  @next_race[:FirstPractice][:date].to_date.strftime('%B %d')%>:  <%= @next_race[:FirstPractice][:time].to_time.in_time_zone('Mountain Time (US & Canada)').strftime('%I:%M %p') %></p>
              <p>Free Practice 2: <%=  @next_race[:SecondPractice][:date].to_date.strftime('%B %d')%>: <%= @next_race[:SecondPractice][:time].to_time.in_time_zone('Mountain Time (US & Canada)').strftime('%I:%M %p') %></p>
              <p>Free Practice 3: <%=  @next_race[:ThirdPractice][:date].to_date.strftime('%B %d')%>: <%= @next_race[:ThirdPractice][:time].to_time.in_time_zone('Mountain Time (US & Canada)').strftime('%I:%M %p') %></p>
              <p>Qualifying: <%=  @next_race[:Qualifying][:date].to_date.strftime('%B %d')%>: <%= @next_race[:Qualifying][:time].to_time.in_time_zone('Mountain Time (US & Canada)').strftime('%I:%M %p') %></p>
            <% else %>
              <p>Free Practice 1: <%=  @next_race[:FirstPractice][:date].to_date.strftime('%B %d') %>: <%= @next_race[:FirstPractice][:time].to_time.in_time_zone('Mountain Time (US & Canada)').strftime('%I:%M %p') %></p>
              <p>Race Qualifying: <%=  @next_race[:Qualifying][:date].to_date.strftime('%B %d') %>: <%= @next_race[:Qualifying][:time].to_time.in_time_zone('Mountain Time (US & Canada)').strftime('%I:%M %p') %></p>
              <p>Sprint Shootout: <%=  @next_race[:SecondPractice][:date].to_date.strftime('%B %d') %>: <%= @next_race[:SecondPractice][:time].to_time.in_time_zone('Mountain Time (US & Canada)').strftime('%I:%M %p') %></p>
              <p>Sprint: <%=  @next_race[:Sprint][:date].to_date.strftime('%B %d') %>: <%= @next_race[:Sprint][:time].to_time.in_time_zone('Mountain Time (US & Canada)').strftime('%I:%M %p') %></p>
            <% end %>
          <% else %>
            <h2> No Next Race Weekend Scheduled</h2>
          <% end %>
        </div> <!-- This ends the next box -->
        <br><br>
        <div class="box"> <!-- This open the previous box -->
          <h2 class="font-bold">Previous Race Weekend: <%= @last_race[:raceName] %></h2>
          <br>
          <h3>Circuit: <%= @last_race[:Circuit][:circuitName] %></h3>
          <br>
          <h3>Race Date: <%= @last_race[:date].to_date.strftime('%B %d') %></h3>
          <br>
          <h3>Podium:</h3>
          <ol>
            <li>Winner: <%= "#{@last_race[:Results][0][:Driver][:givenName]} #{@last_race[:Results][0][:Driver][:familyName]}" %></li>
            <li>P2: <%= "#{@last_race[:Results][1][:Driver][:givenName]} #{@last_race[:Results][1][:Driver][:familyName]}" %></li>
            <li>P3: <%= "#{@last_race[:Results][2][:Driver][:givenName]} #{@last_race[:Results][2][:Driver][:familyName]}" %></li>
          </ol>
        </div> <!-- This ends the previous box -->
      </div><!-- This ends the next and previous race weekend section -->
  </div> <!-- This closes page wrapper -->
<main>
<% end %>