<div class="wrapper">
  <%= form_tag '/dashboard', method: :get, class: 'form' do %>
    <%= label_tag :season_id, "Select a Season", class: 'label' %>
    <%= select_tag :season_id, options_from_collection_for_select(@seasons, :id, :season_year), prompt: "Season Year", class: 'select' %>
    <%= submit_tag "Submit", class: 'submit' %>
  <% end %>
  <%= button_to 'Start New Season', new_season_path, class: "new-season", method: :get %>
</div>