<%= stylesheet_link_tag 'dashboard', media: 'all', 'data-turbolinks-track': 'reload' %>

<main>
  <div id="season_wrapper" class="page-wrapper">
    <h1 id="app_name" class="title">P10 Racing</h1>
    <div id="select_season" class="season-wrapper">
      <%= form_tag '/', method: :get, class: 'form' do %>
        <%= label_tag :season_id, "Select a Season", class: 'label' %>
        <%= select_tag :season_id, options_from_collection_for_select(@seasons, :id, :season_year), prompt: "Season Year", class: 'select' %>
        <%= submit_tag "Submit", class: 'submit' %>
      <% end %>
    </div>
  </div>
<main>

<%= button_to 'Start New Season', new_season_path, method: :get %>