<p id="notice"><%= notice %></p>

<h1>All User Picks</h1>

<% @last_6.each do |pick| %>
  <% if pick.points_earned == 0  %>
    <%= pick.assign_finish_position %>
    <%= pick.calculate_points %>
    <%= pick.dnf_points %>
  <% end %>
<% end %>

<table class=" width: 90% text-md text-left text-black dark:text-white table-auto border-2 pt-4 border-collapse rounded-md border-spacing-5 shadow-md">
  <thead class="px-4 text-lg text-black uppercase bg-red-400 dark:bg-gray-700 dark:text-gray-400 ">
    <tr>
      <th style="text-decoration: underline; pr-4"><%= link_to 'Users', user_picks_path(sort: 'user_id', direction: toggle_direction('user_id')) %></th>
      <th style="text-decoration: underline; pr-4"><%= link_to '10th Driver', user_picks_path(sort: 'driver_id_tenth', direction: toggle_direction('driver_id_tenth')) %></th>
      <th style="text-decoration: underline; pr-4"><%= link_to 'DNF Driver', user_picks_path(sort: 'driver_id_dnf', direction: toggle_direction('driver_id_dnf')) %></th>
      <th style="text-decoration: underline; pl-10"><%= link_to 'Circuit', user_picks_path(sort: 'circuit_id', direction: toggle_direction('circuit_id')) %></th>
      <th style="text-decoration: underline; pr-4"><%= link_to 'Points earned', user_picks_path(sort: 'points_earned', direction: toggle_direction('points_earned')) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
  <% UserPick.all.purify_pick_names %>
    <% @user_picks.each do |user_pick| %>
      <tr>
        <td class="pr-4 text-center"><%= user_pick.user.name %></td>
        <td class="pr-4 text-center"><%= user_pick.driver_id %></td>
        <td class="pr-4 text-center"><%= user_pick.dnf_name %></td>
        <td class="pr-4 text-center"><%= user_pick.race_name %></td>
        <td class="pr-4 text-center"><%= user_pick.points_earned %></td>
        <td><%= link_to 'Show', user_pick %></td>
        <td><%= button_to 'Destroy', user_pick_path(user_pick), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Pick', new_user_pick_path %>
