<p id="notice"><%= notice %></p>

<h1>User Picks</h1>

<table>
  <thead>
    <tr>
      <th>Users</th>
      <th>10th Driver</th>
      <th>DNF Driver</th>
      <th>Circuit</th>
      <th>Points earned</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% UserPick.all.purify_pick_names %>
    <% @user_picks.each do |user_pick| %>
      <tr>
        <td><%= user_pick.user.name %></td>
        <td><%= user_pick.driver_id %></td>
        <td><%= user_pick.dnf_name %></td>
        <td><%= user_pick.circuit_id %></td>
        <td><%= user_pick.points_earned %></td>
        <td><%= link_to 'Show', user_pick %></td>
        <td><%= link_to 'Edit', edit_user_pick_path(user_pick) %></td>
        <td><%= link_to 'Destroy', user_pick_path, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Pick', new_user_pick_path %>
