<%= stylesheet_link_tag 'user_picks_show', media: 'all', 'data-turbolinks-track': 'reload' %>
<main>
  <p id="notice"><%= notice %></p>

  <% @user_pick.purify_single_pick %>
    <div class="page-wrapper">
      <div class-"form-wrapper">
        <h1 class="title">Your Race Pick</h1>
        <div class="box">
          <p>
            <strong>User:</strong>
            <%= @user_pick.user.name %>
          </p>

          <p>
            <strong>Race Name:</strong>
            <%= @user_pick.race_name %>
          </p>

          <p>
            <strong>10th Driver:</strong>
            <%= @user_pick.driver_id %>
          </p>

          <p>
            <strong>DNF Driver:</strong>
            <%= @user_pick.dnf_name %>
          </p>
        </div>

         <!-- <%= link_to 'Edit', edit_user_pick_path(@user_pick) %> |
          <%= link_to 'Back', user_picks_path %> |
          <%= button_to 'Delete', user_pick_path(@user_pick), method: :delete %> -->
        </div>
    </div>
</main>