<%= stylesheet_link_tag 'new_form', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: "select-field" %>
  </div>

  <% if session[:username] == @user.username || JwtService.new.check_for_claim(session[:token], "CanSeeAllSubmitButtons") %>
    <div class="actions">
      <%= form.submit class: "button" %>
    </div>
  <% end %>
<% end %>
