<%= stylesheet_link_tag 'user_index', media: 'all', 'data-turbolinks-track': 'reload' %>
<p id="notice"><%= notice %></p>
<main>
  <div class="page-wrapper">
    <div class-"form-wrapper">
      <div class="users-page">
        <h1 class="title">Users</h1>
        <div class="season-table-wrapper">
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Total points</th>
                <th colspan="3"></th>
              </tr>
            </thead>

            <tbody>
              <% @users.each do |user| %>
                <tr>
                  <th><%= user.name %></td>
                  <td><%= user.total_points %></td>
                  <td><%= link_to 'Show', user %></td>
                  <td><%= link_to 'Edit', edit_user_path(user) %></td>
                  <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <%= link_to 'New User', new_user_path, class: "button"%>
      </div>
    </div>
  </div>
<main>