<p id="notice"><%= notice %></p>

<div class="flex flex-row justify-evenly"> <!-- This starts the user show page row -->
  <div class="flex flex-col"> <!-- This starts the user scoring column -->
    <p>
      <strong>Name:</strong>
      <%= @user.name %>
    </p>

    <p>
      <strong>Total points:</strong>
      <% @user.calculate_total_points %>
      <%= @user.total_points %>
    </p>
    <%= button_to "View previous picks", user_user_picks_path(@user), method: :get %>
  </div> <!-- This ends the user scoring column -->

  <div class="flex flex-col"> <!-- This starts the user picks column -->
    <div> <!-- header -->
      <h1>This Week's Race Picks: </h1>
    </div>
    <div> <!-- race name -->
      <h2><%= @next_race[:raceName] %></h2>
    </div>
    <div> <!-- submit picks form -->
      <h1>Submit Picks</h1>
      <%= form_with(model: UserPick.new, url: '/user_picks', method: :post) do |form| %>
        <%= form.hidden_field :circuit_id, value: @next_race[:Circuit][:circuitId] %> 
        <%= form.hidden_field :user_id, value: @user.id %>

        <label for="pick_tenth_place_id">10th Place Finisher:</label>
        <%= form.collection_select :driver_id_tenth, @drivers, :driver_id, :name %>

        <label for="pick_first_dnf_id">First DNF:</label>
        <%= form.collection_select :driver_id_dnf, @drivers, :driver_id, :name %>

        <%= form.submit "Submit Picks" %>
      <% end %>
      <div class="text-xs text-red-500" >
        <p> If you are being redirected, it means you chose the same driver in both fields or you already have a pick for this weekend </p>
      </div>

      <div class=""> <!-- quali results -->
        <h2>Qualifying Results:</h2>
        <% if @qualifying[:MRData][:RaceTable][:Races].empty? %>
          <p>Qualifying results not available yet</p>
        <% else %>
          <table>
          <thead>
            <tr>
              <th>Position</th>
              <th>Driver Name</th>
              <th>Constructor</th>
            </tr>
          </thead>
          <tbody>
            <% @qualifying[:MRData][:RaceTable][:Races][0][:QualifyingResults].each do |driver| %>
              <tr>
                <td><%= driver[:position] %></td>
                <td><%= "#{driver[:Driver][:givenName]} #{driver[:Driver][:familyName]}" %></td>
                <td><%= driver[:Constructor][:name] %></td>
              </tr>
            <% end %>
          </tbody>
          </table>
        <% end %>
      </div> <!-- This ends the quali results -->
    <div>
  </div><!-- This ends the user picks column -->
</div> <!-- This ends the user show page row -->
