<%= stylesheet_link_tag 'users', media: 'all', 'data-turbolinks-track': 'reload' %>
<p id="notice"><%= notice %></p>

<style>
  .center-header {
    text-align: center;
    padding: 10px;
  }
  .center-text {
    text-align: center;
  }
  .rounded-box {
   border: 2px solid #FF1801;
    border-radius: 10px;
    padding: 10px;
  }
</style>
<main>
  <div class="page-wrapper">
    <div class="user-wrapper"> <!-- This starts the user show page row -->
      <div class="user-score"> <!-- This starts the user scoring column -->
        <h3 class="points-header">Points Accrued</h3> 
          <div class="box">
              <p>
                <span class="catagory-text">Name:</span>
                <%= @user.name %>
              </p>

              <p>
                <span class="catagory-text">Total points:</span>

                <% @user_season.first.calculate_total_points %>
                <%= @user_season.first.total_points %>
              </p>

              <p>
                <span class="catagory-text">Points from Last Race:</span>
                <% if @user_season.first.total_points == 0 %>
                  <%= 0 %>
                <% else %>
                  <%= @user_season.first.user_picks.sort.last.points_earned %>
                <% end %>
              </p>
          </div> <!-- This ends the box div-->
            <%= button_to "View Previous Picks", user_user_picks_path(@user), params: {season_id: @season.id}, method: :get, class: "button" %>
      </div> <!-- This ends the user scoring column -->

      <div class="user-picks-wrapper"> <!-- This starts the user picks column -->
        <div> <!-- header -->
          <h2 class="main-header">This Week's Race Picks: </h1>
        </div>
        <div> <!-- race name -->
        <% if @next_race == 'This season is over. Please select a different season.' %>
          <%= @next_race %>
        <% else %>
          <h2 class="race-header"><%= @next_race[:raceName] %></h2>
        </div>
        <div class="submit-picks"> <!-- submit picks form -->
          <div class="selection-wrapper">
            <h4 class="submit-headers">Your Picks</h4>
            <div class="selections">
              <%= form_with(model: UserPick.new, url: '/user_picks', method: :post) do |form| %>
                <%= form.hidden_field :circuit_id, value: @next_race[:Circuit][:circuitId] %>
                <br> 
                <%= form.hidden_field :user_id, value: @user.id %>
                <%= form.hidden_field :season_id, value: @season.id %>
                <br>
                <label for="pick_tenth_place_id">10th Place Finisher:</label>
                <%= form.collection_select :driver_id_tenth, @drivers, :driver_id, :name %>
                <br>
                <label for="pick_first_dnf_id">First DNF:</label>
                <%= form.collection_select :driver_id_dnf, @drivers, :driver_id, :name %>
                <br>
                <%= form.submit "Submit Picks", class: "button" %>
              <% end %>
              <p class="error-text"> If you are being redirected, it means you chose the same driver in both fields or you already have a pick for this weekend </p>
            </div>
          </div>
          <div class="quali-results"> <!-- quali results -->
            <h4 class="submit-headers">Qualifying Results</h2>
            <% if @qualifying[:MRData][:RaceTable][:Races].empty? %>
              <p>Qualifying results not available yet</p>
            <% else %>
              <table>
              <thead>
                <tr>
                  <th class="py-2 center-header">Position</th>
                  <th class="py-2 center-header">Driver Name</th>
                  <th class="py-2 center-header">Constructor</th>
                </tr>
              </thead>
              <tbody>
                <% @qualifying[:MRData][:RaceTable][:Races][0][:QualifyingResults].each do |driver| %>
                  <tr>
                    <th class="py-2 center-text"><%= driver[:position] %></td>
                    <td class="py-2 center-text"><%= "#{driver[:Driver][:givenName]} #{driver[:Driver][:familyName]}" %></td>
                    <td class="py-2 center-text"><%= driver[:Constructor][:name] %></td>
                    <% @position += 1 %>
                  </tr>
                <% end %>
              </tbody>
              </table>
            <% end %>
          </div> <!-- This ends the quali results -->
        <% end %>
        <div>
      </div><!-- This ends the user picks column -->
    </div> <!-- This ends the user show page row -->
  </div> <!-- This ends page wrapper -->
</main>
